/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 29, 2023, 4:50:27 PM
    Author     : Sy_Tuan
*/

Button.btnLogout {
    -fx-background-color: red;
    -fx-font-weight: bold;
}

Button.Untilities {
    -fx-background-color: lightblue;
    -fx-font-weight: bold;
}

AnchorPane {
    -fx-background-color: linear-gradient(#B0F3F1, #FFCFDF);
}

TabPane {
    -fx-background-color: #B0F3F1;
    -fx-tab-background-color: #B0F3F1;
}

.tab-header-area {
    -fx-tab-border-color: #B0F3F1;
}

TableView {
    -fx-background-color: linear-gradient(#B0F3F1, #FFCFDF);
}
