
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 23, 2023, 12:29:12 PM
    Author     : TuanTran
*/



VBox {
    -fx-background-color: linear-gradient(#02aab0, #00cdac);
}

Label.Title {
    -fx-text-fill:#336699;
    -fx-font-weight: bold;
    -fx-font-size: 28;
}

Text.all_text {
    -fx-fill:yellow;
    -fx-font-weight: bold;
 
}

TextFeild.TaiKhoan {
    
}

TextFeild.MatKhau {
    
}

Button.DangNhap {
    -fx-background-color: linear-gradient(#005bea, #00c6fb);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
